*{
    margin: 0;
    padding:0;
    border: 0;
    outline: 0;
    text-decoration: none;
}
ul,ol,li{
    list-style-type:none;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}
.logoimg{
    height: 100px;
    width: 100px;
    margin-left: 30px;
    img{
        height: 100%;
        width: 100%;
    }
}
.topheader{
    background-color: #000;
}
.header{
    max-width: 1024px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: space-around;
    color: #fff;
    >li{
        font-size: 20px;
        margin: 0 10px;
        display: flex;
        align-items: center;
    }
}
.swiper-container{
    height: 500px;
}
.swiper-wrapper{
    img{
        height: 100%;
        width: 100%;
    }
}